<h1> People </h1>
<p><%= link_to 'Create A Person', new_person_path %></p>
<% @people.each do |person| %>
  <h2><%= person.full_name  %></h2>
  <%= link_to 'Details', person_path(person) %>
  <%= link_to 'Edit Person', edit_person_path(person) %>
  ️<%= link_to 'Destroy Person', person, method: :delete %>🙅‍♂️
<% end %>